body{
    background-color:silver;
}
form{
    background-color:lightgreen;
    margin:auto;
    border:3px solid black;
    width:450px;
    padding:150px;
    font-size:30px;
    
    input[type="submit"]{
    background-color:blue;
    color:white;
}
   textarea{
    background-color:yellow;
   }
   select{
    background-color:orange;
   }
}

